* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
  font-size: 18px;
}
.step-name {
  /* font-size: 14px; */
}
.active .step-number {
  background-color: #007bff;
  color: #fff;
}

.complete .step-number {
  background-color: green;
  color: #fff;
}

.progress-bar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}
